*, *:before, *:after {
  box-sizing: inherit;
}
html{
  font-size:62.5%;
  line-height:1.5;
}
body{
  font-family:"Open Sans Condensed",sans-serif;
  font-weight:300;
  font-size:14px;
  font-size:1.4rem;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  text-align: center;
}
button{
  outline:none;
}
.page-header{
  background-color: #fff;
}
.page-header > h1{
  width:100%;
  height: 80px;
  margin: 0 auto;
  font-weight:300;
  line-height:70px;
  letter-spacing:0.1em;
}
.page-main{
  min-height:300px;
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  background-color:#3498db;
  padding-bottom:30px;
}
.inner  h1{
  margin:0 auto;
  text-align: center;
  font-size:60px;
  font-size:6rem;
  color:#fff;
  height:300px;
  line-height:300px;
  text-transform:uppercase;
}
.inner > .intro{
  font-size:30px;
  font-size:3rem;
  margin:0 auto;
  color:#ecd99d;
}
.footer{
  background-color: #333;

}
.footer small{
  color:#fff;
  display:block;
  text-align:center;
  font-size:15px;
  font-size:1.5rem;
  margin:0 auto;
  line-height:100px;
  letter-spacing:0.2em;
  font-weight:normal;
}
.copyright > a{
  color:#6ebdf1;
  text-decoration:none;

}
/* Tablet 880px */
@media screen and (max-width: 55em) {
  h1,
  {
    font-size:25px;
    font-size:2.5rem;
  }
  .inner h1{
    font-size:35px;
    font-size:3.5rem;
  }
}
/* Mobile  620px */
@media screen and (max-width: 38.75em){
  h1
  {
    font-size:23px;
    font-size:2.3rem;
  }
  .inner h1{
    font-size:33px;
    font-size:3.3rem;
    padding-top:20px;
    height:100%;
    line-height:1em;
  }
  .inner > .intro{
    font-size:15px;
    font-size:1.5rem;
    margin-top:20px;
  }
  .page-main{
    min-height:100px;
  }
}
